

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeerShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/product.css" />
</head>
<br />
<br />





<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Enter Product name..." value="@ViewData["GetProducts"]" name="searching" style="width:500px" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
    @*<div class="container">
        <div class="row">
            @{ foreach (Product product in Model.Products)
                {
                    <div class="col-3">
                        @Html.Partial("ProductsSummary", product)
                    </div>
                }
            }
        </div>
    </div>*@
</form>

